body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:rgb(24, 122, 139);
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

.gramaticas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gramatica {
  width: 100%;
  background-color: rgb(174, 207, 159);
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.conjuntoSeleccion,
.producciones {
  width: 300px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

input[type="text"] {
  padding: 8px;
  margin: 8px;
  box-sizing: border-box;
}
button {
  background-color: #070000;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 8px;
  cursor: pointer;
}

.N-T-container {
  display: flex;
  max-width: 100%;
  color: seashell;
}
ul {
  list-style-type: none;
}

p{
  font-family: cursive;
  color:white;
}

h1{
  color:white;
}